<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <ApplicationIdProvider Type="Microsoft.ApplicationInsights.Extensibility.Implementation.ApplicationId.ApplicationInsightsApplicationIdProvider, Microsoft.ApplicationInsights">
    <ProfileQueryEndpoint>https://dc.services.visualstudio.com/api/profiles/{0}/appId</ProfileQueryEndpoint>
    <!--static provider, which will rely on your configured Instrumentation Key / Application ID pairs-->
    <Defined>
      <Type key="InstrumentationKey_1" value="ApplicationId_1"/>
      <Type key="InstrumentationKey_2" value="ApplicationId_2"/>
    </Defined>
    <Next Type="Microsoft.ApplicationInsights.Extensibility.Implementation.ApplicationId.ApplicationInsightsApplicationIdProvider, Microsoft.ApplicationInsights" />
  </ApplicationIdProvider>
  <TelemetryProcessors>
    <!--https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#configuring-adaptive-sampling-for-aspnet-applications-->
    <Add Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.AdaptiveSamplingTelemetryProcessor, Microsoft.AI.ServerTelemetryChannel">
      <MaxTelemetryItemsPerSecond>10</MaxTelemetryItemsPerSecond>
      <EvaluationInterval>00:00:15</EvaluationInterval>
      <SamplingPercentageDecreaseTimeout>00:02:00</SamplingPercentageDecreaseTimeout>
      <SamplingPercentageIncreaseTimeout>00:15:00</SamplingPercentageIncreaseTimeout>
      <MinSamplingPercentage>0.1</MinSamplingPercentage>
      <MaxSamplingPercentage>100.0</MaxSamplingPercentage>
      <MovingAverageRatio>0.25</MovingAverageRatio>
      <InitialSamplingPercentage>100</InitialSamplingPercentage>
      <ExcludedTypes>Trace;Exception</ExcludedTypes>
      <IncludedTypes>Request;Dependency</IncludedTypes>
    </Add>
  </TelemetryProcessors>
</ApplicationInsights>